.Rproj.user
.Rhistory
.RData
*.tif
*.tiff
*.aux.xml
*.tif.aux.xml
oklahoma_evaluation_datasetforsdm_naomit_utm.csv
oklahomadatasetforsdm_naomit_utm.csv
manuscript_files/20180608_evaluations_downscaled_ran.RData
